body {
  font-family: helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  align-items: center;
  gap: 15px; /* 画像と吹き出しの間隔を設定 */
}

.container img {
  max-width: 150px; /* 必要に応じて調整 */
  height: auto;
}

.joke {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 300px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  word-wrap: break-word;
}

.joke:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.joke:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: baseline; /* これにするをボタンの上下配置がよくなったよ！！やったね！！ */
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.news {
  text-align: left;
}